*.iml
/.idea/workspace.xml

.settings
.project
.classpath
*.class

config.json
*.log
.idea
*.lck

/.gradle/
/.gradle/buildOutputCleanup/
/.gradle/buildOutputCleanup/*
/.gradle/3.5-rc-2/file-changes
/.gradle/3.5-rc-2/file-changes/*
/.gradle/3.5-rc-2/
/.gradle/3.5-rc-2/taskHistory
/.gradle/3.5-rc-2/taskHistory/*


/db/
/db/*

/out/
/out/*